<ion-content>
  <ion-list class="listCaregivers">
    <ion-item>
      <ion-thumbnail>
        <img src="../../../assets/imgs/dummy1.png">
      </ion-thumbnail>
      <ion-label>
        <strong>Juan</strong> Diaz Risso
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail>
        <img src="../../../assets/imgs/dummy2.png">
      </ion-thumbnail>
      <ion-label>
        <strong>Ignacio</strong> Diaz Tagle
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail>
        <img src="../../../assets/imgs/dummy3.png">
      </ion-thumbnail>
      <ion-label>
        <strong>Manuel</strong> Gonzalez Ruiz
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail>
        <img src="../../../assets/imgs/dummy4.png">
      </ion-thumbnail>
      <ion-label>
        <strong>Sofia</strong> Diaz Tagle
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail>
        <img src="../../../assets/imgs/dummy5.png">
      </ion-thumbnail>
      <ion-label>
        <strong>Alejandro</strong> Diaz Tagle
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="add-circle"></ion-icon>
      <ion-label class="addCG">Añadir Cuidador</ion-label>
    </ion-item>
  </ion-list>
</ion-content>