ion-list div{
    font-family: 'SignikaNegativeLight';
    height: 9vh;
    width: 88vw;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,#c8c7cc)));
    margin-top: 10px;
    margin-left: 25px;
    padding-right: 25px;
    
    ion-icon{
        font-size: 65px;
    }

    ion-label{
        padding-top: 3vh;
        margin-left: 20px;
        position: absolute;
        letter-spacing: 1px;
    }

    ion-label.question-container{
        padding-top: 3vh;
        margin-left: 5px;
        position: absolute;
        letter-spacing: 1px;
        font-family: 'SignikaNegativeBold';
    }
}
ion-list .upper-line{
    padding-top: 5px;
    border-width: 1px 0px 1px 0px;
}
.upper-container{
    background: var(--ion-background-color-div) !important;
    border-radius: 30px;
    width: 85vw;
    height: 7vh;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-top: 10px;
    overflow: auto;
    h1{
        margin-top: 2vh;
        padding-left: 8.5vw;
        background-color: transparent;
        font-size: 17px;
    }
}