<ion-content>
    <div class="main-container">
        <!-- Main View container-->
        <div class="geo-container">
            <!-- Geo Container -->
            <h1>GEOLOCALIZACION</h1>
            <h4>Vitacura</h4>
            <img src="https://via.placeholder.com/335x226">
        </div>
        <div class="heart-rate-container">
            <!-- HR info container -->
            <h1>Frecuencia Cardiaca y Presion Arterial</h1>
            <h4>Normal</h4>
            <div class="central-container">
                <div class="left-block">
                    <h2><strong>72</strong>-91 </h2>
                    <h5>LPM</h5>
                </div>
                <div class="right-block">
                    <h2> <strong>120</strong>/80</h2>
                    <h5>TA</h5>
                </div>
            </div>
            <img src="https://via.placeholder.com/335x70">
        </div>
        <div class="falls-container">
            <!-- Fall Count container -->
            <h1>Caidas</h1>
            <h4>Medio</h4>
            <img src="https://via.placeholder.com/335x70">
        </div>
        <div class="steps-container">
            <!-- Steps Count container -->
            <h1>Pasos</h1>
            <h4>Alto</h4>
            <img src="https://via.placeholder.com/335x70">
        </div>
        <div class="medicine-container">
            <!-- Medicine Reminder -->
            <div class="inside-container">
                <h1>Remedios Hoy</h1>
                <ion-button slot="end">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
            </div>
            <h4>Pronto: 5pm</h4>
            <img src="https://via.placeholder.com/335x70">
        </div>
        <div class="ap-container">
            <!-- Appointments -->
            <div class="inside-container">
                <h1>Citas</h1>
                <ion-button slot="end">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
            </div>
            <h4>Today</h4>
            <img src="https://via.placeholder.com/335x70">
        </div>
    </div>
</ion-content>