// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: linear-gradient(90deg, #1a1a1a 100%, #000000 100%);
  --ion-background-color-div: linear-gradient(90deg, #FF0033 -5%, #990000 150%);
  --ion-text-color: #FFFFFF;
  --ion-text-color-rgb: 255,255,255;

  --ion-font-family: 'SignikaNegativeReg';
  
  --ion-color-step-50: #252525;
  --ion-color-step-100: #313131;
  --ion-color-step-150: #3c3c3c;
  --ion-color-step-200: #484848;
  --ion-color-step-250: #535353;
  --ion-color-step-300: #5f5f5f;
  --ion-color-step-350: #6a6a6a;
  --ion-color-step-400: #767676;
  --ion-color-step-450: #818181;
  --ion-color-step-500: #8d8d8d;
  --ion-color-step-550: #989898;
  --ion-color-step-600: #a3a3a3;
  --ion-color-step-650: #afafaf;
  --ion-color-step-700: #bababa;
  --ion-color-step-750: #c6c6c6;
  --ion-color-step-800: #d1d1d1;
  --ion-color-step-850: #dddddd;
  --ion-color-step-900: #e8e8e8;
  --ion-color-step-950: #f4f4f4;
  
  --ion-color-primary: #1a1a1a;
  --ion-color-primary-rgb: 26,26,26;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #171717;
  --ion-color-primary-tint: #313131;

  --ion-color-secondary: #99FFFF;
  --ion-color-secondary-rgb: 153,255,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #87e0e0;
  --ion-color-secondary-tint: #a3ffff;

  --ion-color-tertiary: #FF0033;
  --ion-color-tertiary-rgb: 255,0,51;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #e0002d;
  --ion-color-tertiary-tint: #ff1a47;

  --ion-color-success: #990000;
  --ion-color-success-rgb: 153,0,0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #870000;
  --ion-color-success-tint: #a31a1a;

  --ion-color-warning: #66CCCC;
  --ion-color-warning-rgb: 102,204,204;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #5ab4b4;
  --ion-color-warning-tint: #75d1d1;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}

@font-face{
  font-family: 'SignikaNegativeReg';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/SignikaNegative-Regular.ttf');
}

@font-face{
  font-family: 'SignikaNegativeBold';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/SignikaNegative-Bold.ttf');
}

@font-face{
  font-family: 'SignikaNegativeLight';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/SignikaNegative-Light.ttf');
}

@font-face{
  font-family: 'SignikaNegativeSemiBold';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/SignikaNegative-Semibold.ttf');
}